<div class="empty-table>">
<table class="calendar table table-sm">
  <tbody>
    <tr>
        <td colspan="2" class="head previous text-left"></td>
        <td colspan="3" class="head current text-center"><b>{{ monthFormatted }}</b></td>
        </b></td>
        <td colspan="2" class="head next text-right"></td>
    </tr>
  </tbody>
</table>
</div>